@media only screen and (max-width: 800px){
    
    /* general style */
    .cursor {
        display: none;
    }
    .links_hover {
        display: none;
    }
    h1 {
        font-size: 1.4rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    p {
        font-size: 0.9rem;
    }
    .menuIcon {
        height: 3.5vh;
        width: 3.5vh;
    }
    nav ul a {
        font-size: 1.5rem;
        -webkit-text-stroke: none;
        color: var(--main-color);
        font-family: 'jost', sans-serif;
    }

    .exercice-task {
        margin-right: 20vw;
        padding-left: 2vh;
    }

    /* first section */
    .taskDescription {
        grid-column: 3/ span 8;
        text-align: justify;
    }

    /* horizontal section */
    .horizontal-section, .horizontal-section2, .horizontal-section3, .horizontal-section4, .horizontal-section5 {
        padding: 2vh;
    }
    .photo-element {
        height: 30vh;
        width: auto;
        margin: 0 1vh 0 0;
    }

    .storyboard {
        grid-column: 3/span 8;
    }
    .stop-motion-video {
        grid-column: 3/span 8;
    }
      
    .conclusionSection {
        text-align: justify;
        grid-column: 3 / span 8;
    }
}